@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arvo&family=Autour+One&family=Tilt+Neon&family=Young+Serif&display=swap');
.logoicon{
    height: 50px;
    width: 50px;
    color: red;
}
.myul{
    margin-left: 150px;
}

.colimg{
    width: 100%;
    height: 500px;
}
.introh1{
    text-align: center;
    margin: 60px 0px 30px 0px;
    font-family: Young Serif;
    font-weight: 600;
    color: rgba(247, 69, 69, 0.856);
}
.introh4{
    text-align: center;
    font-family: Tilt Neon;
    font-size: 35px;
}
.introh4:hover{
    color: blue;
}
.introbtn{
    width: 330px;
    height: 80px;
    font-size: 35px;
    font-weight: 600;
    font-family: Autour One;
    border: none;
    background-color: greenyellow;
    margin-top: 20px;
    border-radius: 20px 50px 20px 50px;
}
.introbtn:hover{
    border: 5px solid greenyellow;
    background:none; 
    transition: 0.5s;
}

.prod-img{
    margin-top: 10px;
    height: 250px;
    width: 100%;
    border-radius: 20px;
}
.prod{
    height: 470px;
}
.prod:hover{
    background-color: rgb(172, 194, 194);
    border-radius: 20px;
}
.prod-h3{
    margin-top: 25px;
    font-family: Anton;
}
.prod-p{
    font-family: Arvo;
    font-weight: bold;
}
.prod-h5 span{
    margin-left: 10px;
}
.prod-div button{
    margin: 5px 5px;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    background: linear-gradient(to right, yellow,red);
}
.prod-div button:hover{
    background:linear-gradient(to left,yellow,red);
}
.prod-img:hover{
    transform: scale(1.05,1.05);
    transition: 0.5s;
}
